@media (max-width: 8px) {
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* styles.css or dashboard.component.css */
.sticky-top + * {
  margin-top: 0; /* adjust as per header height */
}
/* dashboard.component.css */
.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}
.btn-outline-light:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-primary {
  background-color: transparent !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

